__pycache__/
*.py[cod]
*$py.class

.venv/

.env

**/.terraform/*
**/terraform.tfstate
**/.terraform.tfstate.backup
**/.terraform.lock.hcl
**/terraform.tfstate**
**/creds.tf

notebooks/
logs/

.pytest_cache/

artifacts/

data/public/

.DS_Store
